<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="detalleVenta">
            <h2><span>Detalle Venta</span> {{ detalleVenta.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Producto</span></dt>
                <dd>
                    <div *ngIf="detalleVenta.productoId">
                        <a [routerLink]="['/producto', detalleVenta.productoId, 'view']">{{ detalleVenta.productoNombre }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/detalle-venta', detalleVenta.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
